body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #105179;
    margin: 15pt;
    display: absolute;
    color: floralwhite;
}

/** Nav code **/
    nav {
        display: block;
        background-color: #87acaffb;
        text-align: center;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 30px;
        letter-spacing: 0.01cm;
        font-size: 20px;
        word-spacing: 2cm;
        border-radius: 20px;
    }

    nav a {
        text-decoration: none;
        font-weight: bold;
        color: #000000;
    }

    .dropbtn {
        font-family: Arial, sans-serif;
        font-size: 20px; 
        background-color: #835e3000;
        color: #000000; 
        text-align: center;
        text-decoration: none; 
        font-weight: bold;
    }

    /**.dropdowns {
        position: fixed;
        display: block;
    } **/

    .dropdown-content {
        display: none;
        background-color: #87acaffb;
        border-radius: 15px;
        position: absolute;
        max-width: 100%;
        font-size: 18px;
        margin: 10px auto;
        margin-right: 18px;
        top: 56%;
        left: 0%;
        right: -18px;
        padding: 8px;
        letter-spacing: 0.01cm;
        word-spacing: 2cm;
    }

    .dropbtn:hover {
        cursor: pointer;
        color: #ffffff;
    }

    .dropdown-content a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: #000000;
    }
    
    .show {
        display: block;
    }
/** End of nav code **/

.container {
    display: flex;
    justify-content: center;
}

.socials {
    position: relative;
    border-radius: 15px;
    padding: 20px;
    background-color: #729a5b79;
    min-width: fit-content;
    max-height: fit-content;
}

.main {
    min-width: relative;
    max-width: 800px;
    margin-right: 0;
    margin-left: 5px;
    padding: 20px;
    background-color: #729a5b79;
    border-radius: 15px;
}

.main2 {
    min-width: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #729a5b79;
    border-radius: 15px;
    float: center;
}

.enlargePic {
    transform: scale(1.5);
}

#mepic {
    width: 25%;
    height: auto;
}

h1 {
    font-size: 24pt;
    color: #000000;
}

h2 {
    font-size: 18pt;
    color: #ffffff;
}

h3 {
    font-size: 14pt;
    color: #005c99;
}

.socials a {
    color: #ffffff;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: bolder;
}

.socials a:active {
    text-decoration: none;
    color: #ff0000;
}

/**.socials a:visited {
    text-decoration: none;
    color:#ae00ff;
}
**/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#tablehead1 {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    padding-right: 10px;
}

#list1 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

#tablehead2 {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    padding-right: 10px;
}

#list2 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

/** Contact Form CSS **/
fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #bfdbf7;
    border-radius: 15px;
    color: #053c5e;
}

label {
    font-size: 18px;
    line-height: 30px;
}

#contactform input[type="text"],
#contactform input[type="email"],
#contactform input[type="tel"],
#contactform input[type="date"],
#contactform input[type="radio"],
#contactform input[type="checkbox"],
#contactform select,
#contactform textarea {
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 20px;
}

#contactform textarea {
    width: 100%;
    padding: 10px;
    height: auto;
    resize: vertical;
    border-radius: 5px;
}

#contactform input[type="submit"],
#contactform input[type="reset"] {
    background-color: #074e7a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14pt;
}

#contactform input[type="submit"]:hover,
#contactform input[type="reset"]:hover {
    background-color: #032638;
}

/** Accessibility **/
.accessibility {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #005c99;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}