body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #b5d8ec;
    color: #000000;
    margin: 15pt;
}

#mepic {
    width: 25%;
    height: auto;
}

h1 {
    font-size: 24pt;
    color: #000000;
}

h2 {
    font-size: 18pt;
    color: #002c8a;
}

h3 {
    font-size: 14pt;
    color: #005c99;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgba(0, 75, 161, 0.171)
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.side {
    position: fixed;
    top: 7%;
    left: 15%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f236;
}

a {
    color: #0054a3;
}

a:hover {
    text-decoration: underline;
    color: #8b0045;
}

a:active {
    text-decoration: none;
    color: #ff0000;
}

a:visited {
    text-decoration: none;
    color:#6b00c2;
}

ul {
    color:rgb(65, 53, 0);
}