body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #b5d8ec;
    color: #000000;
    margin: 15pt;
}

nav {
    background-color: #0083da88;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    letter-spacing: 0.01cm;
    font-size: 18px;
    word-spacing: 2cm;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.dropbtn {
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #949494;
    max-width: 1px;
    font-size: 15px;
    margin-left: 568px;
    padding-top: 10px;

}
    
.dropdown-content a {
    display:block;
    text-decoration: none;
}
    
.dropdown-content a:hover {
    background-color: "#42f5b6";
}
    
.show {
    display: block;
}
    

.enlargePic {
    transform: scale(1.5);
}

#mepic {
    width: 25%;
    height: auto;
}

h1 {
    font-size: 24pt;
    color: #000000;
}

h2 {
    font-size: 18pt;
    color: #002c8a;
}

h3 {
    font-size: 14pt;
    color: #005c99;
}

.main {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgba(0, 75, 161, 0.171)
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.socials {
    position: absolute;
    top: 2%;
    right: 20px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f236;
}

.socials a {
    color: #00a89a;
}

.socials a:hover {
    text-decoration: underline;
    color: #b6005b;
}

.socials a:active {
    text-decoration: none;
    color: #ff0000;
}

.socials a:visited {
    text-decoration: none;
    color:#ae00ff;
}

#tablehead1 {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    padding-right: 10px;
}

#list1 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

#tablehead2 {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    padding-right: 10px;
}

#list2 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}